name: kernel matrix benchmarks

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - library: sklearn
            dataset: product-sphere-D3-E1-M1000-N1000-inverse-distance
      fail-fast: false

    steps:
      - uses: actions/checkout@v2 # Pull the repository

      - name: Install various apt packages
        run: sudo apt-get install -y libhdf5-dev python3-numpy python3-scipy python3-matplotlib python3-sklearn

      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          python3 install.py

        env:
          LIBRARY: ${{ matrix.library }}
          DATASET: ${{ matrix.dataset }}

      - name: Run the benchmark
        run: |
          python3 run.py --docker-tag kernel-matrix-benchmarks-${LIBRARY} --max-n-algorithms 2 --dataset $DATASET --run-disabled --timeout 300
          sudo chmod -R 777 results/
          python3 plot.py --dataset $DATASET --output plot.png
          # python3 -m unittest test/test-metrics.py
          python3 create_website.py --scatter --latex --outputdir website

        env:
          LIBRARY: ${{ matrix.library }}
          DATASET: ${{ matrix.dataset }}
